<nb-card>
    <nb-card-header>
        Reported Comment
    </nb-card-header>
    <nb-card-body>
        <div class="portlet-body scroll">
            <span class="search-bar">
                <input type="text" nbInput fullWidth (keyup)="searchReportedComment($event)" [value]="search"
                    class="size-large status-basic shape-rectangle" id="input-search" placeholder="Search">
                <span aria-hidden="true" *ngIf="search !== ''" class="cross" (click)="clearSearch();">&times;</span>
            </span>
            <table class="mt-3 table table-striped table-bordered table-hover table-checkable order-column">
                <caption></caption>
                <thead>
                    <tr>
                        <th id="name">Comment</th>
                        <th id="questionTitle">Question Title</th>
                        <th id="reportedReason">Reported Reason</th>
                        <th id="status">Status</th>
                        <th id="action"> Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="" *ngFor="let reported of data| paginate: config">
                        <td>
                            {{ reported.comment }}
                        </td>
                        <td>{{reported.question_title}}</td>
                        <td>{{reported.report_reason}}</td>
                        <td *ngIf="reported.report_status===1">Pending</td>
                        <td *ngIf="reported.report_status===2">Accepted</td>
                        <td *ngIf="reported.report_status===3">Rejected</td>
                        <td>
                            <button class="btn m-2 btn-primary" (click)="goToView(reported.id)">View</button>
                        </td>
                    </tr>
                    <tr *ngIf="noData">
                        <td class="text-center" [attr.colspan]="colSpan">
                            No data available
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-center" [attr.colspan]="colSpan">
                            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </nb-card-body>
</nb-card>