<h1 id="title" class="title">Forgot Password</h1>
<p class="sub-title">Enter your email address and we’ll send a link to reset your password</p>



<form (submit)="requestPassword()" [formGroup]="data" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-email">Email address:</label>
    <input nbInput
           fullWidth
           class="input-full-width size-large status-basic shape-rectangle"
           formControlName="email"
           name="email"
           id="input-email"
           pattern=".+@.+\..+"
           placeholder="Email address"
           fieldSize="large"
           autofocus>
    <ng-container *ngIf="submitted && data.controls['email'].errors">
      <p class="caption status-danger" *ngIf="data.controls['email'].errors.required">
        Email is required!
      </p>
      <p class="caption status-danger" *ngIf="data.controls['email'].errors.pattern">
        Please provide valid email
      </p>
    </ng-container>
  </div>

  <button nbButton
  fullWidth
  status="primary"
  size="large"
  class="appearance-filled full-width size-large status-primary shape-rectangle">
Submit
</button>
</form>

<section class="sign-in-or-up" aria-label="Sign in or sign up">
  <p><a class="text-link" routerLink="../login">Back to Log In</a></p>

</section>